.btn {
  color: inherit;
  padding: 1.6rem;
  font-family: inherit;
  font-size: 1.5rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.btn:disabled {
  background-color: #777;
  color: #fff;
}

.btn:hover:disabled {
  background-image: url("../assets/icon-stop.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.add,
.delete,
.state,
.pay {
  color: #fff;
  padding: 1.6rem 2.4rem;
}

.add {
  position: relative;
  padding-left: 3.6rem;
  background-color: var(--color-main--1);
}

.add::before {
  content: "";
  position: absolute;
  left: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
  width: 2.4rem;
  height: 2.4rem;
  background-image: url("../assets/icon-plus.svg");
  background-size: 1.2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.add:hover,
.state:hover:enabled,
.pay:hover:enabled {
  background-color: var(--color-main--2);
}

.back {
  justify-self: start;

  display:flex;
  align-items: center;
  color: var(--color-gray--4);
  position: relative;
  padding-left: 3.6rem;
  background-color: transparent;
  margin: 3.2rem 0 0 9.6rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.back::before {
  content: "";
  position: absolute;
  left: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.2rem;
  height: 1.2rem;
  background-image: url("../assets/icon-arrow-left.svg");
  background-size: 1.2rem;
  background-repeat: no-repeat;
  background-position: center;
}

.edit {
  padding: 1.6rem 2.4rem;
}

.edit:hover:enabled {
  background-color: var(--color-gray--1);
}

.delete {
  background-color: var(--color-accent--1);
}

.delete:hover:enabled {
  background-color: var(--color-accent--2);
}

.state,
.pay {
  background-color: var(--color-main--1);
}

.item {
  color: inherit;
  font-weight: 700;
}

.item:hover {
  background-color: var(--color-gray--1);
}

.deleteItem{
  background-color: transparent;
}
